<h1>Modifier la catégorie</h1>

<%= form_for @category do |f| %>

<div class="form-group">
  <%= f.text_field :name, placeholder:"Nom", class:"form-control" %>
</div>

<div class="form-group">
  <%= f.text_field :slug, placeholder:"URL", class:"form-control" %>
</div>

<div class="form-group">
  <button class="btn btn-primary" type="submit">Modifier la catégorie</button>
</div>
<% end %>
